[Unit]
Description=Nimbus API Service
Requires=nimbus.socket
After=nimbus.socket network-online.target local-fs.target
Wants=network-online.target

[Service]
Type=exec
KillMode=process
WorkingDirectory={guest_nimbus_data_dir}
Environment=HOME={guest_nimbus_data_dir}
ExecStart={guest_nimbus_bin} machine api --socket-activation --control-data-dir {guest_nimbus_control_dir}
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
