{
  "name": "{{PROJECT_NAME}}",
  "private": true,
  "type": "module",
  "dependencies": {
    "convex": "^{{CONVEX_VERSION}}"
  },
  "devDependencies": {
    "@neovex/codegen": "^{{CODEGEN_VERSION}}"
  }
}
